html,
body {
  margin: 0;
  padding: 0;
  height: 100vb;
  width: 100vw;

  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  display: grid;
  grid-template-areas:
    "top  top top  top top options"
    "menu menu2 imgd desc prop nothing"
    "menu menu2 rec  rec  rec nothing"
    "bot  bot bot  bot  bot bot";
  grid-template-rows: 30px 160px 1fr 20px;
  grid-template-columns: 140px 150px 140px 300px 1fr 300px;
  background-color: #3e4357;
  color: white;
}

#options {
  grid-area: options;
  display: flex;
  justify-content: flex-end;
}

#top {
  grid-area: top;
  display: flex;
  justify-content: flex-start;
}

#bot {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: bot;
}

#top,
#bot,
#options {
  background-color: #f8f8f82a;
}

#list {
  grid-area: menu2;
  background-color: #00000020;
}

#menu {
  grid-area: menu;
  background-color: #00000040;
}

.category {
  position: absolute;
  display: none;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, 80px);
  left: 150px;
  row-gap: 5px;
  max-width: calc(100vw - 400px);
  margin-top: -10px;
}

.menuSubcategory {
  display: none;
  flex-direction: column;
  width: 150px;
}

.menuContainer {
  position: absolute;
  left: 140px;
  top: 30px;
  display: flex;
  flex-direction: column;
}

.menuCategoryChoice {
  width: inherit;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.menuChoice {
  width: 140;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

#menuChosen .menuCategoryChoice::after {
  text-align: right;
  content: "►";
}

#menuChosen .menuSubcategory {
  display: flex;
}

#menuChosen {
  background-color: #1d1f29;
}

.menuSubcategory:hover .menuChoice::after {
  text-align: right;
  content: "►";
}

.menuSubcategory:hover .category {
  display: grid;
}

.menuSubcategory:hover {
  background-color: #1d1f29;
}

.boxContainer {
  position: relative;
}

.boxBorder {
  position: absolute;
  width: 75px;
  height: 130px;
  padding: 10px;
  background-color: #1d1f29;
  z-index: 1;
  border-radius: 10px;
}

.box {
  position: relative;
  left: 10px;
  top: 10px;
  z-index: 2;
  display: grid;
  border-radius: 5px;
  width: 75px;

  grid-template-rows: 75px 55px;
  background-color: #3e4357;

  img {
    grid-row: 1;
    object-fit: contain;
    margin: 5%;
    width: 90%;
    height: 90%;
  }

  .align {
    width: inherit;
    align-self: end;
    grid-row: 2;
    display: table;
    min-height: 55px;

    p {
      width: 100%;
      color: rgba(255, 255, 255, 0.9);
      width: inherit;
      height: inherit;
      background-color: rgba(0, 0, 0, 0.4);
      font-size: 14px;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      margin: 0px;
      padding-left: 2px;
      padding-right: 2px;
      border-radius: 0px 0px 5px 5px;
    }

    p:first-letter {
      text-transform: capitalize;
    }
  }
}

#properties {
  padding-top: 5px;
  grid-area: prop;
  display: grid;
  grid-auto-flow: row;
  /* spacing icon label spacing value amount spacing*/
  grid-template-columns: 10px 30px 200px 5px 1fr max-content 10px;
  grid-auto-rows: min-content;
  row-gap: 3px;
  width: 100%;
  background-color: #3e4357;
  overflow: auto;
  font-size: 16px;

  .label {
    grid-column: 3;
    justify-content: right;
    border-radius: 0px 5px 5px 0px;
    padding-right: 5px;
    display: flex;
    background-color: #363a4c;
  }

  .grid {
    grid-column: 5;
    display: grid;
    grid-template-columns: min-content;
    gap: 3px;
    background-color: #363a4c;
  }

  .g1 {
    grid-column: 1;
  }

  .g2 {
    grid-column: 2;
  }

  .g3 {
    grid-column: 3;
  }

  .g4 {
    grid-column: 4;
  }

  .g5 {
    grid-column: 5;
  }

  img {
    height: 19px;
    width: 23px;
    margin-top: -1px;
    object-fit: contain;
  }

  .icon {
    border-radius: 5px 0px 0px 5px;
    background-color: #363a4c;
  }
}

.propValuePhase {
  display: grid;
  /* icon temp arrow icon element percent */
  grid-template-columns: max-content max-content max-content max-content 1fr max-content 10px;
  grid-auto-rows: min-content;
  row-gap: 3px;
  width: 100%;
  padding-top: 2px;
}

.valuePhaseTempIcon {
  grid-column: 1;
  height: 19px;
  width: 23px;
  margin-top: -1px;
  object-fit: contain;
  padding-right: 2px;
}

.valuePhaseTemp {
  grid-column: 2;
  padding-right: 2px;
}

.valuePhaseArrow {
  grid-column: 3;
  margin-top: -1px;
}

.valuePhaseIcon {
  grid-column: 4;
  height: 19px;
  width: 23px;
  margin-top: -1px;
  object-fit: contain;
}

.valuePhaseElement {
  grid-column: 5;
}

.valuePhasePercent {
  grid-column: 6;
  text-align: right;
}

#recipes {
  grid-column: 1 / -1;
  display: grid;
  grid-auto-flow: row;
  /* spacing icon element amount arrow/temp icon element amount spacing*/
  grid-template-columns: 10px 30px 140px 45px 25px 30px max-content 1fr 10px;
  grid-auto-rows: min-content;
  row-gap: 3px;
  width: 100%;
  background-color: #3e4357;
  overflow: auto;
  font-size: 14px;
}

.recLeftIcon {
  grid-column: 2;
}

.recLeft {
  grid-column: 3;
}

.recLeftAmount {
  grid-column: 4;
  text-align: right;
  border-radius: 0px 5px 5px 0px;
  padding-right: 5px;
}

.recArrow {
  grid-column: 5;
  padding-left: 5px;
}

.recRightIcon {
  grid-column: 6;
}

.recRight {
  grid-column: 7;
}

.recRightAmount {
  grid-column: 8;
  text-align: right;
}

.recRightIcon {
  padding-left: 5px;
  padding-right: 5px;

  img {
    padding-top: 2px;
    height: 19px;
    width: 20px;
    object-fit: contain;
    display: block;
    margin: auto;
  }
}

.detailsGrid {
  display: grid;
  grid-auto-flow: row;
  /* spacing icon label spacing value arrow icon element amount spacing*/
  grid-template-columns: 0px 30px 183px 5px max-content max-content 25px 1fr max-content 10px;
  grid-auto-rows: min-content;
  row-gap: 3px;
  width: 480px;
  background-color: #3e4357;
  font-size: 14px;
  padding-top: 3px;
}

.propValueElementImg,
.propAmount,
.propArrow,
.propElement,
.propLabel,
.propLeft,
.propRight,
.propTemp,
.propValue,
.recLeft,
.recLeftAmount,
.recRight,
.recRightAmount,
.recArrow,
.pad,
summary {
  padding-top: 2px;
  padding-bottom: 2px;
}

.propIcon,
.propLabel,
.recLeftIcon,
.recLeft,
.recLeftAmount {
  background-color: #363a4c;
}

.recLeftIcon,
.propIcon {
  grid-column: 2;
  border-radius: 5px 0px 0px 5px;
  padding-left: 5px;
  padding-right: 5px;

  img {
    padding-top: 2px;
    height: 19px;
    width: 20px;
    object-fit: contain;
    display: block;
    margin: auto;
  }
}

.propIconRight {
  grid-column: 7;
  height: 19px;
  width: 23px;
  padding-top: 2px;
  object-fit: contain;
}

.propValueImg,
.smallImg {
  height: 19px;
  object-fit: contain;
  display: block;
  padding-right: 2px;
  padding-top: 1px;
}

.propLabel {
  grid-column: 3;
  text-align: right;
  border-radius: 0px 5px 5px 0px;
  padding-right: 5px;
}

.propTemp {
  grid-column: 5;
}

.propArrow {
  padding-left: 3px;
  grid-column: 6;
}

.propValues,
.propValue,
.propValuePhase {
  grid-column: 5 / -1;
  text-align: left;
}

.propValues {
  display: flex;
  flex-direction: row;
}

.propAmount {
  text-align: right;
  padding-left: 5px;
}

#properties h3 {
  grid-column: 1 / -1;
  text-align: center;
  background-color: #874566;
  margin: 10px;
  margin-bottom: 2px;
  border-radius: 5px;
}

.propSummary {
  grid-column: 2 / 4;
  text-align: right;
}

summary {
  background-color: #363a4c;
  padding-right: 5px;
  border-radius: 5px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

summary::before {
  padding-left: 11px;
  content: '▸';
  text-align: top;
  line-height: 95%;
}

details[open]+.propValue+details {
  padding-top: 5px;
}

details[open]+.propValue+details+.propValue {
  padding-top: 7px;
}

details[open]>summary::before {
  content: '▾';
}

.fullSize {
  width: 380px;
}

#desc {
  grid-area: desc;
  text-align: center;
  justify-content: center;
  background-color: #3e4357;
  width: 100%;
  height: 100%;
}

#descimg {
  grid-area: imgd;
  object-fit: contain;
  padding: 5%;
  width: 100%;
  height: 100%;
  background-color: #3e4357;
}